nav{
  position: fixed;
  top: 0;
  height: 66px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  .logo{
    width: 80px;
    height: 36px;
    margin: 13px 0 0 0;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .sort{
    width: 68px;
    height: 26px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    text-align: center;
    margin: 18px 0 auto 22px;
    .sort-list{
      display: none;
    }
    &:hover i{
      transform: rotate(180deg);
      -ms-transform: rotate(180deg);		/* IE 9 */
      -webkit-transform: rotate(180deg);	/* Safari and Chrome */
      -o-transform: rotate(180deg);		/* Opera */
      -moz-transform: rotate(180deg);
    }
    p{
      line-height: 26px;
      color: #666666;
    }
    i{
      display: inline-block;
      vertical-align: -2px;
      color: #666666;
      transition:all .5s ease;
    }
  }
  .search{
    height: 30px;
    margin: 16px auto auto 38px;
    .search-input{
      width: 200px;
      height: 26px;
    }
    .search-button{
      width: 38px;
      height: 30px;
      margin-left: -38px;
      background-color: #fff;
      border: solid 1px #ccc;
    }

  }

  .add{
    position: relative;
    width: 100px;
    height: 66px;
    .icon-add{
      font-size: 30px;
      color: #ccc;
      margin-top: 16px;
      margin-left: 50px;
      position: relative;
    }
    .add-list{
      display: none;
      position: absolute;
      width: 120px;
      top: 66px;
      left: 50px;
      border: solid 1px #cccccc;
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
      li{
        height: 30px;
        font-size: 12px;
        padding-left: 10px;
        line-height: 30px;
        color: #666666;
      }
    }
  }
  .user{
    height: 66px;
    position: relative;
    .message{
      color: #666666;
      line-height: 66px;
    }
    .user-img{
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-top: 15px;
    }
    .mine{
      line-height: 66px;
      color: #666666;
      &:hover i{
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);		/* IE 9 */
        -webkit-transform: rotate(180deg);	/* Safari and Chrome */
        -o-transform: rotate(180deg);		/* Opera */
        -moz-transform: rotate(180deg);
      }
      i{
        display: inline-block;
        vertical-align: -2px;
        color: #666666;
        transition:all .5s ease;
      }
    }
    .mine-list{
      display: none;
      position: absolute;
      width: 120px;
      top: 66px;
      right: 0px;
      border: solid 1px #cccccc;
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
      li{
        height: 30px;
        font-size: 12px;
        padding-left: 10px;
        line-height: 30px;
        color: #666666;
      }
    }

  }
}

.main{
  margin-top: 66px;
  .pic-content{
    width: 230px;
    border: solid 1px #cccccc;
    .pic{
      background: url("../img/test-pic.png") no-repeat;
      background-size: cover;
    }
  }
}
